:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;

  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #b5aebd;
    --text-h: #f5f3f7;
    --bg: #121014;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
